* {
    padding: 0;
    margin: 0;
}

.boton-buscar{
    position: absolute;
    top: 11%;
    left: 85%;
    transform: translate(-50%, -50%);
    background: black;
    height: 40px;
    border-radius: 40px;
    padding: 10px;
}

.boton-buscar:hover > input{
    width: 200px;
    padding: 0 10px;
}

.boton-buscar:hover > .icono{
    background: gray ;
}

.icono:hover{
    transform: rotate(360deg) scale(0.8);
}

input{
    width: 0;
    border: none;
    outline: none;
    padding: 0;
    background: none;
    font-size: 1.1rem;
    transition: 0.5s ease;
    line-height: 40px;
    color: #fff;
}

.icono{
    color: #7d1eb4;
    float: right;
    width: 40px;
    font-size: 1.3rem;
    height: 40px;
    border-radius: 50%;
    background: #2F3640;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
    cursor: pointer;
    text-decoration: none;

}

.navegacion {
    background-color: darkmagenta;
    width: 100%;
}

.navegacion ul {
    list-style: none;
}

.menu>li {
    position: relative;
    display: inline-block;
}

.menu>li>a {
    display: block;
    padding: 15px 20px;
    color: white;
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.menu li a:hover {
    background-color: darkorchid;
}

.submenu {
    position: absolute;
    background: darkviolet;
    width: 150%;
    display: none;
}

.submenu li a {
    display: block;
    padding: 15px;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: none;
}

.menu li:hover .submenu {
    display: block;
}

.historia-padre {
    font-family: 'Open Sans', sans-serif;
    margin: 10px 10px 10px 10px;
}

h1 {
    margin-bottom: 5px;
}

p {
    text-align: justify;
    font-family: 'Open Sans', sans-serif;
}

.historia {
    display: inline-block;
    width: 50%;
    margin-bottom: 20px;
}

.seccion {
    display: flex;
    flex-direction: row;
}

.caja-img {
    justify-content: center;
}

.img-inicio {
    width: 600px;
    height: 400px;
    padding-bottom: 50px;
    padding-left: 40px;
    transition: height, width, 2s;
}

.img-inicio:hover {
    height: 420px;
    width: 610px;
}

h1 {
    font-family: 'Open Sans', sans-serif;
}

h2 {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
}

.novedades1 {
    background-color: rgb(150, 83, 212);
}

.novedades {
    background-image: linear-gradient(antiquewhite, rgb(200, 151, 212), antiquewhite);
    font-family: 'Open Sans', sans-serif;
    padding-bottom: 20px;
}

.novedades-img {
    position: relative;
    padding-top: 15px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: space-evenly;
}

.img-aula{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border-radius: 20px;
}

.img-aula img{
    z-index: 10;
}

.img-aula::before{
    content: '';
    position: absolute;
    width: 130%;
    height: 50%;
    background: linear-gradient(#00ccff, #d400d4);
    animation: rotar 4s linear infinite;
}


.img-aula::after{
    content: '';
    position: absolute;
    inset: 4px;
    background: white;
}


@keyframes rotar{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

.novedades-img img {
    max-width: 15%;
    max-height: 15%;
    padding: 1px;
    border: 2px double darkmagenta;
    transition: max-width, max-height, 1s;
}

.novedades-img img:hover {
    max-height: 17%;
    max-width: 17%;
}

.logos {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 40px;
    padding-bottom: 40px;
}

.logos img {
    max-width: 15%;
    max-height: 8%;
}

/*Dirección y Gestión*/
.direccion-y-gestion {
    display: grid;
    grid-template-columns: repeat(6, 16.3%);
    grid-template-rows: repeat(12, 120px);
    grid-template-areas:
        "seccion-elsa seccion-elsa seccion-elsa img-uno texto-uno img-dos"
        "seccion-elsa seccion-elsa seccion-elsa img-uno texto-uno img-dos"
        "seccion-elsa seccion-elsa seccion-elsa texto-dos img-tres texto-tres"
        "seccion-elsa seccion-elsa seccion-elsa texto-dos img-tres texto-tres"
        "seccion-elsa seccion-elsa seccion-elsa texto-cuatro texto-cuatro texto-cuatro"
        "seccion-elsa seccion-elsa seccion-elsa texto-cuatro texto-cuatro texto-cuatro"
        "seccion-elsa seccion-elsa seccion-elsa texto-cuatro texto-cuatro texto-cuatro"
        "seccion-luciana seccion-luciana seccion-luciana video-elsa video-elsa video-elsa"
        "seccion-luciana seccion-luciana seccion-luciana video-elsa video-elsa video-elsa"
        "seccion-luciana seccion-luciana seccion-luciana video-elsa video-elsa video-elsa"
        "seccion-luciana seccion-luciana seccion-luciana video-elsa video-elsa video-elsa"
        "seccion-luciana seccion-luciana seccion-luciana video-elsa video-elsa video-elsa"
    ;
    gap: 5px;
}

.foto-elsa {
    display: flex;
    justify-content: center;
}

.foto-luciana {
    width: 41rem;
    height: auto;
    display: flex;
    justify-content: center;
}

.epigrafe-foto {
    display: inline-block;
    width: 100%;
    margin-bottom: 20px;
    margin-top: 10px;
}

.fotos-grid {
    max-width: 100%;
    max-height: 100%;
}

main section article h2{
    text-align: start;
    text-decoration: underline;
}

.titulo-direccion {
    grid-area: titulo-direccion;
}

.seccion-elsa {
    grid-area: seccion-elsa;
    margin-right: 5px;
}

.seccion-luciana {
    grid-area: seccion-luciana;
    margin-top: 20px;
}


.historia article p {
    max-width: 100%;
    max-height: 100%;
}

.img-uno {
    background-color: rgb(200, 151, 212);
    width: 100%;
    height: 100%;
    grid-area: img-uno;
    max-width: 100%;
    max-height: 100%;
    display: flex;
    align-items: center;
}

.img-dos {
    background-color: rgb(200, 151, 212);
    grid-area: img-dos;
    display: flex;
    align-items: center;
}

.img-tres {
    background-color: rgb(200, 151, 212);
    grid-area: img-tres;
    display: flex;
    align-items: center;
}

.texto-uno {
    grid-area: texto-uno;
    background-color: antiquewhite;
    display: flex;
    align-items: center;
    text-align: justify;
    font-size: x-large;
    padding: 7px;
    font-style: italic;
}

.texto-dos {
    grid-area: texto-dos;
    background-color: antiquewhite;
    display: flex;
    align-items: center;
    text-align: justify;
    font-size: x-large;
    padding: 7px;
    font-style: italic;
}

.texto-tres {
    grid-area: texto-tres;
    background-color: antiquewhite;
    display: flex;
    align-items: center;
    text-align: justify;
    font-size: x-large;
    padding: 7px;
    font-style: italic;
}

.texto-cuatro {
    grid-area: texto-cuatro;
    background-image: linear-gradient(to bottom, rgb(200, 151, 212), antiquewhite, rgb(200, 151, 212));
    display: flex;
    align-items: center;
    text-align: justify;
    font-size: x-large;
    padding: 7px;
    font-style: italic;
}

.espacio-blanco {
    grid-area: espacio-blanco;
    display: flex;
    display: none;
}

.seccion-elsa img {
    max-width: 100%;
    max-height: 100%;
}

.video-elsa {
    grid-area: video-elsa;
    display: flex;
    align-items: center;
    justify-content: center;
}

.reforma-plan{
    margin-left: 10px;
}

@media screen and (max-width: 768px) {
    .logo-sociales{
        display: none;
    }
    
    .foto-luciana {
        width: 20rem;
        height: auto;
        display: flex;
        justify-content: center;
    }

    .novedades-img {
        padding-top: 15px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        justify-content: space-evenly;
    }
    

    .direccion-y-gestion {
        display: grid;
        grid-template-columns: repeat(4, 25%);
        grid-template-rows: repeat(11, 120px);
        grid-template-areas:
            "seccion-elsa seccion-elsa img-uno texto-uno"
            "seccion-elsa seccion-elsa img-uno texto-uno"
            "seccion-elsa seccion-elsa texto-dos img-dos"
            "seccion-elsa seccion-elsa texto-dos img-dos"
            "seccion-elsa seccion-elsa img-tres texto-tres"
            "seccion-elsa seccion-elsa img-tres texto-tres"
            "seccion-elsa seccion-elsa texto-cuatro texto-cuatro"
            "seccion-elsa seccion-elsa texto-cuatro texto-cuatro"
            "seccion-luciana seccion-luciana video-elsa video-elsa"
            "seccion-luciana seccion-luciana video-elsa video-elsa"
            "seccion-luciana seccion-luciana video-elsa video-elsa"
        ;
        gap: 5px;
    }
}

@media screen and (max-width: 320px){
    
    .direccion-y-gestion{
        display: grid;

    }
}

.footer-clean {
    padding: 50px 0;
    background-color: #fff;
    color: #4b4c4d;
}

.footer-clean h3 {
    margin-top: 0;
    margin-bottom: 12px;
    font-weight: bold;
    font-size: 16px;
}

.footer-clean ul {
    padding: 0;
    list-style: none;
    line-height: 1.6;
    font-size: 14px;
    margin-bottom: 0;
}

.footer-clean ul a {
    color: inherit;
    text-decoration: none;
    opacity: 0.8;
}

.footer-clean ul a:hover {
    opacity: 1;
}

.footer-clean .item.social {
    text-align: right;
}

@media (max-width:767px) {
    .footer-clean .item {
        text-align: center;
        padding-bottom: 20px;
    }
}

@media (max-width: 768px) {
    .footer-clean .item.social {
        text-align: center;
    }
}

.footer-clean .item.social>a {
    font-size: 24px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    border: 1px solid #ccc;
    margin-left: 10px;
    margin-top: 22px;
    color: inherit;
    opacity: 0.75;
}

.footer-clean .item.social>a:hover {
    opacity: 0.9;
}

@media (max-width:991px) {
    .footer-clean .item.social>a {
        margin-top: 40px;
    }
}

@media (max-width:767px) {
    .footer-clean .item.social>a {
        margin-top: 10px;
    }
}

.container-loading{
    top: 50%;
    left: 50%;
    position:absolute;
    transform: translate(-50%, -50%);
}

.loading{
    border: 6px solid #ccc;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border-top-color: #7d1eb4;
    border-left-color: #7d1eb4;
    animation: girar 1s infinite ease-in-out;
}

@keyframes girar{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}