*{
    padding: 0;
    margin: 0;
}

.navegacion{
    background-color: darkmagenta;
    width: 100%;
}

.navegacion ul{
    list-style: none;
}

.menu > li{
    position: relative;
    display: inline-block;
}

.menu > li > a{
    display: block;
    padding: 15px 20px;
    color: white;
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.menu li a:hover{
    background-color: darkorchid;
}

.submenu{
    position: absolute;
    background: darkviolet;
    width: 150%;
    display: none;
}

.submenu li a{
    display: block;;
    padding: 15px;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: none;
}

.menu li:hover .submenu{
    display: block;
}

.historia-padre{
    font-family: 'Open Sans', sans-serif;
    margin: 10px 10px 10px 10px;
}
h1{
    margin-bottom: 5px;
}

p{
    text-align: justify;
    font-family: 'Open Sans', sans-serif;
}

.historia{
    display: inline-block;
    width: 50%;
    margin-bottom: 20px;
}

.seccion{
    display: flex;
    flex-direction: row;
}


.img-inicio{
    max-width: 600px;
    max-height: 600px;
    padding-bottom: 50px;
    padding-left: 40px;
}

h1{
    font-family: 'Open Sans', sans-serif;
}
h2{
    text-align: center;
    font-family: 'Open Sans', sans-serif;
}

.novedades{
    background-color:antiquewhite;
    font-family: 'Open Sans', sans-serif;
    padding-bottom: 20px;
}

.novedades-img{
    padding-top: 15px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: space-evenly;
}

.novedades-img img{
    max-width: 15%;
    max-height: 15%;
    padding: 1px;
    border: 2px double darkmagenta;
}

.logos{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 40px;
    padding-bottom: 40px;
}

.logos img{
    max-width: 15%;
    max-height: 8%;
}
.foto-elsa{
    max-width: 50%;
    max-height: 25%;
}